<a href="https://colab.research.google.com/github/piasmaciek/Machine-learning-bootcamp/blob/main/supervised/01_basics/03_ekstrakcjacech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn

sklearn.__version__

'1.0.2'

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df_raw =   fetch_financial_data()
df_raw.head()

               Open       High      Low    Close   Volume
Date
2022-01-14  3203.00  3245.0000  3196.01  3242.76  2298743
2022-01-13  3305.01  3324.4299  3221.82  3224.28  2609415
2022-01-12  3331.50  3337.5600  3288.34  3304.14  2501456
2022-01-11  3230.00  3327.0000  3214.03  3307.24  3140279
2022-01-10  3211.71  3233.2300  3126.09  3229.72  4389915

In [3]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-01-14 to 2022-01-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [4]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

               Open       High      Low    Close   Volume  day  month  year
Date
2022-01-14  3203.00  3245.0000  3196.01  3242.76  2298743   14      1  2022
2022-01-13  3305.01  3324.4299  3221.82  3224.28  2609415   13      1  2022
2022-01-12  3331.50  3337.5600  3288.34  3304.14  2501456   12      1  2022
2022-01-11  3230.00  3327.0000  3214.03  3307.24  3140279   11      1  2022
2022-01-10  3211.71  3233.2300  3126.09  3229.72  4389915   10      1  2022

In [5]:
df = pd.DataFrame(data={'height':[175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [6]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [8]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [9]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small','medium','high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [11]:
pd.get_dummies(df, drop_first=True, prefix = 'height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

In [12]:
df = pd.DataFrame(data={ 'lang':[['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [13]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [16]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [17]:
df = pd.DataFrame(data={'website':['wp.pl', 'google.com', 'onet.pl']})
df

      website
0       wp.pl
1  google.com
2     onet.pl

In [19]:
df.website.str.split('.',expand = True)

        0    1
0      wp   pl
1  google  com
2    onet   pl

In [21]:
new = df.website.str.split('.',expand = True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1  google.com  google       com
2     onet.pl    onet        pl